body {
               background-color: black;
               color: white;
               font-family: Arial
           }
           tr:nth-child(even) {background: #CCC}
           tr:nth-child(odd) {background: #EEE}
           tr:first-child {background: #000}
           tr:nth-child(odd) {color: #0000FF}
           tr:first-child {color: #FFF}
           tr:last-child {color: #FBA}
