body {
               background-color: #202020;
               color: white;
               font-family: Arial
           }
           tr:nth-child(even) {background: #CCC}
           tr:nth-child(odd) {background: #EEE}
           tr:first-child {background: #000}
           tr:nth-child(odd) {color: #000}
            tr:nth-child(even) {color: #000}
           tr:first-child {color: #FFF}
  
